.breadcrumb-main-div.div_class_contact_details_page_padding {
    background-color: @theme-color; 
    color: #fff;
    & .breadcrumb {
        background-color: @theme-color;
    }
    & a {
        color: #fff;
    }
}
.breadcrumb-main-div.div_class_myorders_page_padding {
    background-color: @theme-color;
    color: #fff;
    & .breadcrumb {
        background-color: @theme-color;
    }
    & a {
        color: #fff;
    }
}

#public-billing-address a, .s_website_form a, #legal_terms_msg a {
    color: #337ab7;
    text-decoration: underline;
}