a.clear_shopping_cart.btn {
    /*color: #fff;
    text-transform: uppercase;
    padding-bottom: 6px !important;*/
    margin-bottom: 5%;
}
.vrt_algn_top {
    vertical-align: top;
}
.oe_mycart {
    & .osc-product-name {
        white-space: normal;
        font-size: 13px;
        & strong {
            font-weight: 400;
        }
    }
}
.shopping_cart_buttons {
    & span {
        & .btn.btn-default.mb32 {
            display: none;
        }
    }
    .mb32 {
        margin-bottom: 4px !important;
    }
}