table.tbl{
    & td {
        text-align: left;
        padding: 0 10px 5px 0;
    }
}
.o_blog_cover_container  {
    margin: 20px 0 -20px 0;
}
.new_blog_item_btn_wp {
    margin: 25px 0 -10px;
}
a.clear-all-wishlist.btn {
    color: #fff;
    font-size: inherit;
}
.main-div-W100 .main-div-maxW .wish_product_main_div {
    & .product {
        width: 33.33333333%;
        /*padding-bottom: 5px;
        border-bottom: 2px solid @theme-color;*/
    }
}
.go_to_product_wishlist {
    text-transform: uppercase;
    & a {
        color: #fff !important;
    }
}
.wp_next_post {
    text-align: center;
    border-top: 3px solid #398439;
    padding: 15px 0 15px 0;
    & .read_next_title {
        font-size: 24px;
    }
    & .read_next_subtitle {
        font-size: 16px;
        margin: 10px 0 20px;
    }
}
.pull-right.pagination {
    margin: 4px 0;
    background-color: #f5f5f5;
    padding: 7px 4px;
}
.website_blog .full-width {
    margin-top: 15px;
}
.breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
}
.blog_content {
    & img {
        max-width: 100%;
    }
}
.bg_signup_new_image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/theme_adds/static/img/bg_login.png') 100% 100% no-repeat;
    background-size: cover;
}
.oe_login_buttons {
    & a {
        font-family: oswald-regular;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 10px 15px 10px 15px;
        text-transform: uppercase;
        line-height: 18px;
        margin-left: 10px;
    }
}
.website_blog {
    & .pagination {
        padding: 5px;
        background: @theme-color;
        border-radius: 5px;
        color: #fff;
        & li a {
            color: #fff;
        }
        & li a:hover, li.active a {
            color: @theme-color;
            background: #fff;
        }
        & li:first-child a {
            margin-left: -5px;
        }
        & li:last-child a {
            padding-right: -5px;
            border-right: none;
        }
    }
    & .full-width {
        background-color: @theme-color;
        color: #fff;
        & .breadcrumb {
            background-color: @theme-color;
            color: #fff;
            & a {
                color: #fff;
            }
            & .active {
                color: #fff;
            }
        }
    }
}
.s_website_form .error {
    margin-bottom: 2%;
}
.o_website_form_input.error {
    display: block;
}
/*
    CSS media part MIN-WIDTH
*/
@media(min-width: 801px){
    h1.title_left_padding_15{
        padding-left: 15px;
    }
}