div.pull-center.text-muted {
   padding-top: 2%;
}
footer {

}
.footer_logo {
    & img {
        max-width: 100%;
    }
}
.bg_subscribe_footer {
    padding: 30px 0 25px 0;
    background: @theme-color;
    margin-top: 2%;
}
.wp_subscribe_footer {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    color: #fff;
    & a {
        color: #fff;
    }
    & .js_follow_alias {
        text-align: center;
    }
    & .input-group-btn {
        padding-left: 5px;
    }
    & .js_follow_btn {
        padding: 7px 15px;
    }
}
.title_subscribe_footer {
    font-family: oswald-light;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin: -15px 0 15px 0;
}
.company_details_footer {
    width: 99%;
}
.payment_img_footer {
    margin: -10px 0 15px 0px;
}

div.pull-center.text-muted{
    background-color: @theme-color;
    color: #fff;
}