.main-header {
    background: @theme-color;
    padding-bottom: 10px;
    margin-top: -10px;
    & .custom_hidden {
        display: none;
    }
}
.new_header_contacts {
    float: left;
    color: #fff;
    font-family: oswald-light;
    margin: 7px 0 0 -7px;
    font-size: 18px;
    line-height: 20px;
    & span {
        display: block;
        float: left;
        margin: 0 0 0 25px;
        & i {
            margin-right: 2px;
        }
        & a {
            color: #fff;
        }
    }
    & font {
        font-size: 17px;
    }
    & .header-social-icon {
        display: block;
        float: left;
        margin: 0 0 0 20px;
        & a {
            color: #fff;
        }
        & i {
            margin-left: 10px;
        }
    }
    & .desktop-version, .mobile-version {
        float: left;
    }
}
.main-header-right .company-phone-div li {
    display: block;
}
.main-header-right .company-phone-div .header-main-signin li a b {
    color: #fff;
}
.main-header .st0 {
    stroke: #fff;
    fill: #fff;
}
#header-cart svg.icon-cart path {
    stroke: #fff;
    fill: #fff;
}
.my_cart_quantity {
    padding: 0.1em .3em .1em;
    border-radius: .4em;
}
.wish_count.label, .product_count.label {
    padding: 0.1em .3em .1em;
    border-radius: .4em;
    background: #fff;
    color: #000;
    font-weight: 400;
    line-height: 14px;
}
.new_header_in_wrap {
    margin: 15px 0 -15px 0;
}
.new_hd_img {
    margin: 20px 0 -20px 0;
    & img {
        max-width: 100%;
    }
}
.new_hd_search {
    text-align: center;
}
.new_hd_search_wp {
    max-width: 450px;
    margin: 10px auto 0 auto;
}
.new_hd_search_input {
    width: calc(90.5%);
    float: left;
    display: block;
    background: #398439;
    padding: 2px 0 2px 2px;
    & .clarico_search_border {
        border-bottom: none !important;
    }
}
.new_hd_search_btn {
    width: 8.5%;
    float: left;
    display: block;
    & button {
        width: 99%;
        padding: 8px 0;
    }
}
.hd_widget_revi_demo {
    position: absolute;
    right: 0;
    top: 0;
    & img {
        max-width: 100%;
    }
}
header .navbar .navbar-top-collapse {
    margin-top: -5px !important;
    padding: 0;
    &.header-stick {
        margin-top: 0 !important;
    }
}
.mobile-version {
    display: none;
}
.select-nevigation-span,
.nav-view .nav-selection-div .home-icon,
.nav-view .nav-selection-div .select-nevigation-home,
.nav-view .nav-selection-div .select-nevigation-child,
 .products_pager > .pagination > li > a {
    color: #fff;
}
#sub_header_row .clarico_product_breadcrumb {
    margin-top: 0px;
}
.breadcrumb-main {
    min-height:30px;
}
.sub_breadcrumb {
    min-height: 25px;
}

/*
    CSS media part MAX-WIDTH 1400 px
*/
@media (max-width: 1400px){
    .hd_widget_revi_demo {
        & img {
            max-height: 100px;
        }
    }
}
/*
    CSS media part MAX-WIDTH 1200 px
*/
@media (max-width: 1200px){
    .main-header {
        padding: 7px 0 5px 0;
    }
    .hd_widget_revi_demo {
        position: relative;
    }
    .navbar-default {
        & .container {
            width: 100% !important;
        }
        & .navbar-header {
            background: @theme-color;
            margin: 5px 0 3px 0;
            padding: 0 10px;
        }
        & .navbar-toggle {
            float: left;
            padding: 6px 7px;
            margin: 5px 0;
            & .icon-bar {
                background-color: #fff;
            }
            & .sr-only {
                position: relative;
                float: right;
                margin-left: 30px;
                font-family: oswald-light;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 16px;
                width: auto;
                height: auto;
                color: #fff;
            }
        }
    }
}
/*
    CSS media part MAX-WIDTH 800 px
*/
@media (max-width: 800px){
    .desktop-version {
        display: none;
    }
    .mobile-version {
        display: block;
    }
    .main-header-right {
        width: auto !important;
    }
    #header-social li {
        margin: 0;
    }
    .new_hd_search {
        margin-bottom: 5px;
    }
    .new_hd_search_wp {
        margin: -12px auto 0 auto;
    }
    .new_hd_img {
        text-align: center;
        margin: 0;
        & img {
            width: 90%;
        }
    }
    .hd_widget_revi_demo {
        text-align: center;
        margin: -3px 0 -3px 0;
        & img {
            width: 90%;
        }
    }
    .new_header_contacts {
        & span {
            margin: 0 0 0 10px;
        }
        & .header-social-icon {
            margin-left: 0;
            & i {
                margin-left: 6px;
            }
        }
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
        color: #fff;
    }
}
