.clarico_product_breadcrumb .sub_breadcrumb .clarico_breadcrumb {
    padding: 0;
}
/*#website_published_button {
    display: none;
}*/
#div_comb_img_detail .col-sm-7 #o-carousel-product .carousel-inner div.item {
    /*height: auto !important;*/
    max-height: 400px;
}
.div_class_product_features {
    padding-top: 1%;
}
ul.js_add_cart_variants {

}
.js_product {
    & .clarico_product_sku {
        margin: 1% 0;
    }
    & .product_quantity {
        margin-top: 1%;
    }
    & .product_wish_compare {
        margin: 1% 0;
    }
    & a#add_to_cart {
        margin: 1% 0 2% 0 !important;
    }
    & .price_sin_iva {
        margin: -5px 0 5px 0;
        font-size: 14px;
        color: #777777;
    }
    & .oe_price_h4 {
        font-size: 20px;
        line-height: 18px;
    }
}
.wld-cont-logos {
    display: block;
    width: 100%;
    padding: 1% 0;
}
.wld-logo {
    width: 24.8%;
    float: left;
    & p {
        text-align: center;
    }
    & img {}
    & span {
        display: block;
        padding-top: 3px;
        font-size: 15px;
        line-height: 17px;
    }
}
.owl-item {
    & .recently_viewed_img_div {
        height: 180px;
        & img {
            max-height: 100%;
        }
    }
    & .alternet_common {
        width: 100%;
    }
}