.right-cnt-main {
    padding-top: 1%;
}

.main_left {
    padding-top: 0%;
}

.clarico_home_second_section .clarico_home_second_sub_section .chs_detail_container {
    margin-top: 1%;
}

.clarico_home_second_section .clarico_home_second_sub_section .chs_detail_container .chs_btn_readmore{
    margin-left: 1%;
}
