.right-cnt-main {
    padding-top: 1%;
}

.main .main_left, .main_left {
    margin-top: 0%;
    padding-top: 0%;
}

.bottom_pager {
    margin-top: 1%;
}

.clarico_home_second_section .clarico_home_second_sub_section .chs_detail_container {
    margin-top: 0%;
}

.clarico_home_second_section .clarico_home_second_sub_section .chs_detail_container .chs_para{
    margin-right: 30px;
}

.clarico_product_breadcrumb {
    background-color: @theme-color
}

.products_pager .bottom_pager > .pagination > li > a {
    color: @theme-color;
}

.itemscope-main {
    /*border: 1px solid @theme-color;*/
    height: 300px;
    max-width: 100%;
    & .oe_product_image img {
        height: 220px;
        max-height: none;
        padding-top: 2px;
    }
    & .production-description {
        padding-top: 5px;
        & .detail-sku {
            float: left;
            margin: 0 10px 0 0;
        }
        & .o_rating_star_card {
            display: none;
            /*float: left;
            width: auto;
            .stars {
                font-size: 12px !important;
                margin: 0 0 2px 3px;
            }*/
        }
        & .in-stock {
            text-align: right;
        }
        & .product-name-h5 {
            /*width: 95%;*/
        }
    }
    & .product-des {
        display: block !important;
        transition: none !important;
        z-index: 20;
    }
    & .wp_new_stars {
        position: absolute;
        top: 3px;
        left: 8px;
        z-index: 10;
        & .stars {
            font-size: 14px !important;
        }
    }
    & .orignal-price {
        font-weight: 600;
    }
}

#products_grid .product_price {
    margin-bottom: 7px;
}
hr {
    border-top: 1px solid @theme-color;
}
.shop-page-breadcrumb {
    display: block !important;
}
.custom-menu-inside-div {
    /*display: block !important;*/
}
.menu_expand.menu_1_div {
    min-height: auto;
    padding: 2% 2% 2% 0;
    & .sub_menu {
        width: 99%;
        padding: 0;
        display: inline-block !important;
        & .menu_heading {
            max-width: none;
        }
    }
    & .sub-menu-ul-heading {
        width: 31%;
        padding: 0 2% 2% 0;
        display: inline-block;
        vertical-align: top;
    }
    & .third-level-li {
        & .sub_menu_list {
            max-width: none;
        }
    }

}
.dropdown-menu {
    color: @theme-color !important;
}
.product-tag {
    font-family: 'oswald-light';
    text-transform: uppercase;
    font-size: 17px !important;
}
.main_left .product-tag {
    font-size: 15px !important;
}

/* media part */
@media (min-width: 1201px){
    .oe_shop_left {
        width: 24.5% !important;
    }
}
@media (max-width: 1200px){
    .sub-menu-ul-heading {
        width: auto;
    }
    .third-level-li .sub_menu_list {
        max-width: none;
    }
}

.menu-tags {
    padding-top: 6px;
    padding-left: 0px;
}

.main_left #products_grid_before {
    overflow-x: visible;
    width: 100%;
    padding-top: 0%;
}

#products_grid_tags {
    width: 23%;
    float: left;
}

#products_grid {
    padding-top: 0%;
}

li.dropdown {
    display: block;
}

li.all-products, .all-category-div li {
    display: inline-block;
}
.custom-menu-inside-div {
    background-color: #fff;
}
.first-level-category{
	width:100%;
	display:inline-block;
	.left;


	.first-level-category-li{
		width: 100%;
		/*.pl(20px);
		background:#eee;
		border-bottom:1px solid #CCC;*/

		& .first-level-left-div{
			width:30%;
			background: white;
    		border-bottom: 1px solid #E4E4E4;
    		border-right: 1px solid #E4E4E4;
    		padding: 5px 0 5px 0;


			& .first-level-category-image{
				.left;
				.pl(30px);
				width:30%;

				& img{
					height: 50px;
					width: 50px;
				}
			}
			& .first-level-category-a{
				color: @color-black;
				.size(14px);
				padding: 15px 0 15px 30px;
	    		display: inline-block;
			    width: 60%;
			    position: relative;
			    .oswald-light();
				.uppercase();
				letter-spacing: 1px;
			}
		}
		.second-level-category{
			position: absolute;
		    left: 25%;
		    top:10%;
		}
	}
}

.block-none{
    width: 100%;
    left: 0% !important;
}

.menu_1_column_div{
	overflow-x: visible;
}